[Unit]
Description=Neptune BitTorrent client for %I

After=network-online.target

# need local filesystem mounted
After=local-fs.target

[Service]
User=downloads
Group=downloads

Type=simple
KillMode=process
KillSignal=SIGHUP

ExecStart=/usr/bin/env neptune

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
